body {
    background:grey;
}

.container-timer-score {
    color: white;
    background: black;
    display: flex;
    justify-content: space-between; 
    opacity: .5;
}

.start-btn-row {
    display: flex;
    justify-content: center;
}

.user-hs-initials {
    text-align: center;
}

.userInitialInput {
    width: auto;
    border-radius: 5px;
}

