.container-timer-score {
    display: flex;
    justify-content: space-between; 
}

.start-btn-row {
    display: flex;
    justify-content: center;
}

.user-hs-initials {
    display: flex;
    justify-content: center;
}